/node_modules
/tools/node_modules
/coverage
/build
/dist
/assistant
/playwright/.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches
.pnp.*