{
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 130,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "printWidth": 180
      }
    }
  ]
}
