$size: 125px;
$dotSize: calc($size / 4.5);
$arrowSize: calc($dotSize / 4);
$lineSize: 2px;
$borderSize: 5px;

$dotColor: var(--neb-solid-secondary);
$arrowColor: var(--neb-solid-secondary);
$borderColor: var(--neb-solid-tertiary);
$borderGlowColor: var(--neb-solid-tertiary);

.neb-ortho {
  position: relative;
  block-size: $size;
  inline-size: $size;
  border-radius: 50%;
  border-width: $borderSize;
  border-color: $borderColor;
  transform: rotate(22.5deg);
  margin: 0 auto;

  .neb-ortho-inner {
    position: absolute;
    inset: 0;
    block-size: calc($size - 10px);
    inline-size: calc($size - 10px);
    padding: 20px;
    overflow: hidden;
    border-width: calc($borderSize * 3);

    .neb-dot {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      block-size: $dotSize;
      inline-size: $dotSize;
      border-radius: 45%;
      transform: translate(-50%, -50%);
      background-color: $dotColor;
    }

    .neb-arrow-triangle {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      border-left: calc($arrowSize / 2) solid transparent;
      border-right: calc($arrowSize / 2) solid transparent;
      border-bottom: $arrowSize solid;
      border-bottom-color: $arrowColor;
      animation: neb-ortho-pulse 2s ease-in-out infinite;
    }

    .neb-arrow-triangle.top {
      transform: translate(-50%, -$arrowSize - (calc($dotSize / 2))) rotate(180deg);
    }

    .neb-arrow-triangle.right {
      transform: translate(calc($dotSize / 2), calc(-50% + $lineSize / 2)) rotate(-90deg);
    }

    .neb-arrow-triangle.bottom {
      transform: translate(-50%, calc($dotSize / 2));
    }

    .neb-arrow-triangle.left {
      transform: translate(-$arrowSize - (calc($dotSize / 2)), calc(-50% + $lineSize / 2)) rotate(90deg);
    }

    .neb-arrow-line {
      position: absolute;
      left: 50%;
      top: 50%;
      block-size: $lineSize;
      inline-size: calc($size / 2 - $dotSize / 2 - $arrowSize);
      background: repeating-linear-gradient(
        to right,
        $arrowColor 0 calc($lineSize * 2),
        transparent calc($lineSize * 2) calc($lineSize * 4)
      );
      animation:
        neb-ortho-pulse 2s ease-in-out infinite,
        neb-ortho-flow 0.25s linear infinite;
      --flow-dir: -1;
    }

    .neb-arrow-line.top {
      transform: translate(0, (- calc($dotSize / 2)) - $arrowSize) rotate(-90deg);
      transform-origin: left;
    }

    .neb-arrow-line.right {
      transform: translate(calc($dotSize / 2 + $arrowSize), 0);
    }

    .neb-arrow-line.bottom {
      transform: translate(0, calc($dotSize / 2 + $arrowSize)) rotate(90deg);
      transform-origin: left;
    }

    .neb-arrow-line.left {
      --flow-dir: 1;
      transform: translate(calc(-100% - $dotSize / 2 - $arrowSize), 0);
    }
  }
}

.neb-ortho::after {
  content: '';
  position: absolute;
  inset: -$borderSize;
  border-style: solid;
  border-radius: 46%;
  border-width: $borderSize;
  border-color: $borderColor;
  border-top-color: $borderGlowColor;
  animation: neb-ortho-spin 5s linear infinite;
}

@keyframes neb-ortho-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes neb-ortho-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes neb-ortho-flow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(var(--flow-dir) * $lineSize * 4) 0;
  }
}
